{{# each products }}

<div class="row">
    {{# each this }}
    <div class="col-sm-5 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" alt=" ..." class="img-responsive">
            <div class="caption">
                <h3>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right" role="button">Add to
                        shopping cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
<!-----2nd div thumbnail------>
{{!-- <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="images/2.jpg" alt=" ..." class="img-responsive">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati culpa
                consequatur facere ea dicta tempore cupiditate quasi maxime modi pariatur fugiat suscipit cumque
                nam, laborum molestiae explicabo. Dolorem, similique.</p>
            <div class="clearfix">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right" role="button">Button</a>
            </div>
        </div>
    </div>
</div>
<!----3rd thumbnail----->


<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="images/3.jpg" alt=" ..." class="img-responsive">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati culpa
                consequatur facere ea dicta tempore cupiditate quasi maxime modi pariatur fugiat suscipit cumque
                nam, laborum molestiae explicabo. Dolorem, similique.</p>
            <div class="clearfix">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right" role="button">Button</a>
            </div>
        </div>
    </div>
</div>
<!----4th thumbanail ---->
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="images/4.jpg" alt=" ..." class="img-responsive">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati culpa
                consequatur facere ea dicta tempore cupiditate quasi maxime modi pariatur fugiat suscipit cumque
                nam, laborum molestiae explicabo. Dolorem, similique.</p>
            <div class="clearfix">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right" role="button">Button</a>
            </div>
        </div>
    </div>
</div>
<!----5th thumbanail---->
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="images/5.jpg" alt=" ..." class="img-responsive">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati culpa
                consequatur facere ea dicta tempore cupiditate quasi maxime modi pariatur fugiat suscipit cumque
                nam, laborum molestiae explicabo. Dolorem, similique.</p>
            <div class="clearfix">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right" role="button">Button</a>
            </div>
        </div>
    </div>
</div>
<!-----6th thumbanial--->
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="images/6.jpg" alt=" ..." class="img-responsive">
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati culpa
                consequatur facere ea dicta tempore cupiditate quasi maxime modi pariatur fugiat suscipit cumque
                nam, laborum molestiae explicabo. Dolorem, similique.</p>
            <div class="clearfix">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-success float-right" role="button">Button</a>
            </div>
        </div>
    </div>
</div>




</div> --}}